
h1 {
	color: white;
}

body { 
	overflow-y: hidden;
	padding: 20px 40px;

}

h3 {
		margin-top: 0px;
}


#page-blog {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
	flex-direction: column;
	padding: 10px;

}


.navi-float {
		padding: 0px 250px 7px;
	
}

.navi-float a{
	float: left;
   	width: 25%;
   	text-align: center;

}


.navi {
	display: flex;
	flex-direction: row;
	text-align: center;

}

.navi a{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	display: inline-block;
	padding: 0px 20px ;
}



#enter-photo {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
}

.meta {
	background-color:brown ;
}


.gallery-illu {
		background-image: url("illu/Corkboard.jpg");
		width: 90%; 
		margin-right: auto; margin-left: auto; 
		overflow-y: scroll;
		height: 80vh;
	} 


.image1 {
display: inline-block;
padding: 20px;
border:0px solid;
margin-bottom: 20px
}

	.image1 a{ 
		display: inline-block;
	}


 		.hand-t { 
 			width: auto;
   	 		height: 200PX;
 			transform: rotate(-5deg);
 		}

		.rabbit-t {     
			width: 200px;
    		height: auto;
			transform: rotate(10deg); 
		}


		.paper-t {     
				width: auto;
   				height: 200PX;
 				transform: rotate(-5deg);  
 		}


 		.book-cover-t {     
				width: auto;
   				height: 200PX;
 				transform: rotate(3deg);  
 		}

 		.death-punk-t {     
				width: auto;
   				height: 200PX;
 				transform: rotate(-5deg);  
 		}

 		.DocHolliday-t {     
				width: 200px;
   				height: auto;
 				transform: rotate(-5deg);  
 		}

 		.zodiac-t {     
				width: 200px;
   				height: auto;
 				transform: rotate(-5deg);  
 		}

.navi-pic {
	position: static;
	width: 900px
	height: 600px;
	display: flex;
	flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
	background-color: lightblue;
	padding: 10px;

}


 	.board-img {
 			position: relative;
 			top: 10px;
 			left: 10px;
 	}

 	 	.girl-img {
 			position: relative;
 			top: 20px;
 			left: 200px;

 	}

 	 	.mac-img {
 			position: relative;
 			top: 20px;
 			left: 10px;
 	}

 	 	.table-img {
 			position: relative;
 			top: 40px;
 			left: 20px;
 	}